@media screen and (max-width: 1100px) {

    .progressBar{
        width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .container form{
        margin-left: -63px;
        margin-top: 20px;
    }
    .stats-container{
        margin-left: -58px;
        margin-top: -50px;
    }

    #task-list{
        margin-left: -60px;
    }

    .task{
        width: 0px;
        gap: 30px;
        height: fit-content;
    }

    .icons{
        margin-top: 15px;
        margin-left: 10px;
    }
 
    
}